
<div class="container"><br>
  <form>
    <%= form_tag("/stocks", method: "get") do %>
    <h2 id="line"><%= label_tag("Search for:") %></h2>
    <%= text_field_tag(:ticker) %>
    <%= submit_tag"Search", class: 'button' %>
    <% end %>
  </form><br>
 <div class="row">
    <% if @price && @detail%>
    <div class="col-sm-6">
      <h5><%= @price["symbol"] %><%= image_tag "robin.png" %></h5><hr>
      <p>Open</p>
      <h5>$<div id="odometer7" class="odometer"></div></h5><hr>
      <p>Today's High</p>
      <h5>$<div id="odometer8" class="odometer"></div></h5><hr>
      <p>Today's Low</p>
      <h5>$<div id="odometer9" class="odometer"></div></h5><hr>
      <p>52 Wk High</p>
      <h5>$<div id="odometer10" class="odometer"></div></h5><hr>
      <p>52 Wk Low</p>
      <h5>$<div id="odometer11" class="odometer"></div></h5><hr>
    </div>
    <div class="col-sm-6">
      <h5>$<div id="odometer1" class="odometer"></div></h5><hr>
      <p>Volume</p>
      <h5>$<div id="odometer2" class="odometer"></div></h5><hr>
      <p>Average Volume</p>
      <h5>$<div id="odometer3" class="odometer"></div></h5><hr>
      <p>Market Cap</p>
      <h5>$<div id="odometer4" class="odometer"></div></h5><hr>
      <p>P/e Ratio</p>
      <h5>0<%= @detail["results"].first["pe_ratio"] %></h5><hr>
      <p>Div yield</p>
      <h5>%<%= @detail["results"].first["dividend_yield"] %></h5><hr>
    </div>
    <div class="row">
      <div class="col-md-12">
        <p><%= @detail["results"].first["description"] %></p>
      </div>
    </div>
    <% end %>
  </div>
</div>

<%= render 'odometer' %>
