
<div class="container">
  <p>
    <%= form_tag("/stocks", method: "get") do %>
    <%= label_tag("Search for:") %>
    <%= text_field_tag(:ticker) %>
    <%= submit_tag"Search", class: 'button' %>
    <% end %>
 </p><br>
 <div class="row">
    <% if @price && @detail%>
    <div class="col-sm-6">
      <h4><%= @price["symbol"] %></h4>
      <h4>$<%= @detail["results"].first["open"] %></h4>
      <p>Open</p>
      <h4>$<%= @detail["results"].first["high"] %></h4>
      <p>Today's High</p>
      <h4>$<%= @detail["results"].first["low"] %></h4>
      <p>Today's Low</p>
      <h4>$<%= @detail["results"].first["high_52_weeks"] %></h4>
      <p>52 Wk High</p>
      <h4>$<%=  @detail["results"].first["low_52_weeks"] %></h4>
      <p>52 Wk Low</p>
    </div>
    <div class="col-sm-6">
      <h2>$<div id="odometer1" class="odometer"></div></h2>
      <h2>$<div id="odometer2" class="odometer"></div></h2>
      <p>Volume</p>
      <h2>$<div id="odometer3" class="odometer"></div></h2>
      <p>Average Volume</p>
      <h2>$<div id="odometer4" class="odometer"></div></h2>
      <p>Market Cap</p>
      <h4>$<%= @detail["results"].first["pe_ratio"] %></h4>
      <p>P/e Ratio</p>
      <h4>$<%= @detail["results"].first["dividend_yield"] %></h4>
      <p>Div yield</p>
    </div>
    <div class="row" id="stock_html_desc">
      <div class="col-md-12">
        <p><%= @detail["results"].first["description"] %></p>
      </div>
    </div>
    <% end %>
  </div>
</div>

<%= render 'odometer' %>
