
<div class="container-fluid">
  <p><%= form_tag("/stocks", method: "get") do %>
     <%= label_tag("Search for:") %>
     <%= text_field_tag(:ticker) %>
     <%= submit_tag"Search", class: 'button' %>
   <% end %></p>
   <div class="card">
     <% if @price && @detail%>
     <h4><%= @price["symbol"] %></h4>
     <div id="odometer" class="odometer"><%= @price["ask_price"] %></div>
     <p><%= @detail["results"].first["description"] %></p>
     <% end %>
   </div>
</div>
