<!DOCTYPE html>
<html>
  <head>
    <title>PennyStock</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar-banner">
      <% if @price %>
      <h1><%= @price["symbol"] %></h1>
      <% end %>
    </nav>
    <%= yield %>

  </body>
</html>
